div {
    height: 300px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(69, 134, 240);
    overflow: hidden;
    height: 28%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  body {
    background-color: rgb(32, 38, 54);
  }

  .title {
    font-size: 300%;
    color: floralwhite;
  }

  .home-text {
    color: floralwhite;
    position: absolute;
    right: 7%;
    width: 40%;
    padding: 2%;
    text-align: center;
  }

  .start-button {
    position: absolute;
    float: right;

  }

  .about-title {
    color: floralwhite;
  }

  .about1-text {
    color: floralwhite;
  }

  .about-quote {
    color: floralwhite;
  }

  .about2-text {
    color: floralwhite;
  }

  .us-title {
    color: floralwhite;
  }