html{
  min-height: 100%;
  height: auto;
}

/*div {
    height: 300px;
}*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(69, 134, 240);
    overflow: hidden;
    height: 17%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  body {
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(to bottom, rgb(32, 38, 54), rgb(11, 16, 27)); */
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: fill;
  }

  .home-chunk {
    margin: 150px;
  }

  .title {
    position: absolute;
    top: 50%;
    font-size: 300%;
    color: floralwhite;
    padding: 2%;
    font-family: 'Work Sans', sans-serif;
  }

  .leaves {
    position: absolute;
    left: 750px;
    top: -40px;
    width: 100px;
    margin: 15px;
    height: 100px;
  }

  .home-text {
    color: floralwhite;
    position: absolute;
    line-height: 100px;
    right: 7%;
    top: 50%;
    width: 40%;
    padding: 2%;
    text-align: center;
    display: inline-flex;
    font-size: large;
    font-family: 'Lato', sans-serif;
  }

  .start-button {
    position: absolute;
    top: 50%;
    right: 10%;
    height: 300px;
    padding: 12%;
    font-family: 'Work Sans', sans-serif;

  }
  .about1-chunk {
    margin-bottom: auto;
  }

  .about-title {
    position: absolute;
    color: floralwhite;
    display: block;
    top: 675px;
    margin-left: 1%;
    margin-bottom: 5%;
    height: 300px;
    font-size: larger;
    font-family: 'Work Sans', sans-serif;
  }

  .about1-images {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    top: 800px;
    padding: 4%;
    align-items: center;
  }

  .light-bulb {
    position: absolute;
    width: 150px;
    height: 150px;
  }

  .combo {
    position: absolute;
    width: 150px;
    height: 150px;
  }

  .bot {
    position: absolute;
    width: 150px;
    height: 150px;
  }
  
  .about1-text {
    color: floralwhite;
    padding: 4%;
    top: 1000px;
    flex-wrap: wrap;
    position: absolute;
    font-size: large;
    font-family: 'Lato', sans-serif;
  }

  .about2-chunk {
    margin-bottom: 1500px;
    margin-top: auto;
  }

  .about-quote {
    color: floralwhite;
    position: absolute;
    top: 1250px;
    margin-left: 1%;
    font-size: larger;
    font-family: 'Work Sans', sans-serif;
  }

  .forbes {
    color: floralwhite;
    position: absolute;
    top: 1360px;
    margin-left: 1%;
    font-family: 'Work Sans', sans-serif;
  }

  .about2-text {
    color: floralwhite;
    position: absolute;
    top: 1400px;
    margin-top: 15px;
    padding: 4%;
    line-height: 25px;
    font-size: large;
    font-family: 'Lato', sans-serif;
  }

  .digital {
    width: 300px;
    height: 300px;
  }

  .about2-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .us-title {
    color: floralwhite;
    position: absolute;
    top: 1750px;
    font-size: larger;
    margin-left: 1%;
    font-family: 'Work Sans', sans-serif;
  }